<span class="icon edit-list icon-list" ng-class= "{'icon-list-active': activeListId === list.id}" > </span>
<span class="icon delete-list icon-delete right" ng-class= "{'icon-delete-active': activeListId === list.id}" ng-click="removeList(list.id)"></span>
<span class="title" ng-click= "selectList($event)" ng-hide="enableEdit === list.id">{{ list.title }}</span>
<span class="input-wrapper " ng-show="enableEdit === list.id" > 
    <input maxlength="255" class="edit-list-input " type="text" ng-model="updatedListTitle" ng-click="stopPropagation($event)" ng-enter="updateList(list.id, updatedListTitle)"  >  
</span>

